footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#body_conciertos{
    a {
        display: flex;
        flex-direction: column;
    }
   }
