#body_index{
    main{
        section {
            justify-content: space-around;
        }
        ol {
            list-style: none;
        }
    }
};
#body_discografia{
    main{
        section{
            margin-top: map-has-key($map: $margin-t, $key:marg-t1 );
        }
    }
}
#body_disputa{
    main{
        section{
            margin-top: map-has-key($map: $margin-t, $key:marg-t2 );
    margin-bottom: 10px;
        }
    }
}
#body_separacion{
    main{
        div{
            @extend %div
        }
    }
}